<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920761797658-d8ak860l5mj25buq3eifmfd95v9n690s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920761797658-d8ak860l5mj25buq3eifmfd95v9n690s</string>
	<key>API_KEY</key>
	<string>AIzaSyBL4yMQfST-NMG0aakYe1duFBXjmHFmiY0</string>
	<key>GCM_SENDER_ID</key>
	<string>920761797658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.picsart.studio.crashreportingissuetest</string>
	<key>PROJECT_ID</key>
	<string>crashtesting-ecd03</string>
	<key>STORAGE_BUCKET</key>
	<string>crashtesting-ecd03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920761797658:ios:a916bab2744137ddbb95a3</string>
</dict>
</plist>